<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target" id="ftco-navbar">
  <div class="container">
    <img src="assets/images/3dold.png" alt="" width="100px" height="100px">
    <a class="navbar-brand" href="index.html"><span>H</span>ospital</a>
    <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav nav ml-auto">
       
        <li class="nav-item"><a href="#about-section" class="nav-link"><span><strong>About</strong></span></a></li>
        <li class="nav-item"><a href="#resume-section" class="nav-link"><span><strong>Doctors</strong></span></a></li>
        <li class="nav-item"><a href="#contact-section" class="nav-link"><span><strong>Contact</strong></span></a></li>
        <li><button class="btn"><a [routerLink]="['/sign-up']">BOOK APPOINTMENT</a></button></li><p>
        <li><button class="btn" style="margin-left: 9px;"  [routerLink]="['/sign-in']">Signin</button></li>

      </ul>
    </div>
  </div>
</nav>
<div class="head-img">
  <img src="assets/images/thumb1.jpg" alt="" style="height: 600px; width: 100%;" >

  <strong class="welcome"> Welcome to our Hospital </strong><br>
 
 
</div>
<p></p>
<!-- index.html -->


<div class="about">
  <video src="assets/images/grpvid.mp4" width="200px" height="200px" autoplay muted loop></video> 
  <h3>About Us</h3>

  <video src="assets/images/ambu.mp4" class="lool" autoplay muted loop></video>
</div>
<hr class="hr1">
<hr class="hr2">
<hr class="hr3">
<section id="about" class="about py">

 
  <div class="about-inner">
    <div class="container grid about-left text-center">
      <img src="assets/images/doc-1.png"  class="iim">
      <p class="text text-lg">Welcome to SD Hospital, where compassionate care meets cutting-edge medicine. Located in Salem, Tamilnadu, we've been dedicated to our community's health for 5 years, earning a reputation for excellence. Our expert team of physicians, nurses, and support staff provides round-the-clock emergency care, a full spectrum of medical and surgical services, and specialized care in cardiology, oncology, neurology, orthopedics, and more. Our advanced diagnostic imaging and rehabilitation services support accurate diagnoses and effective treatment plans. For women's health needs, we offer comprehensive obstetric, gynecologic, and mammography services. Access your medical records, schedule appointments, and find educational resources conveniently through our patient portal. We accept various insurance plans and offer billing assistance to ease financial concerns. Contact us today to experience healthcare excellence with a compassionate touch at SD Hospital.</p>
    </div>
    <div class="about-right">
      <img src="assets/images/header.png" alt="">
    
      
    </div>
  </div>
</section>
<div>
  <h4 style="display: flex; justify-content: center;">Emercency Cases</h4>
</div>
<section style="display: flex; justify-content: center;">
  <video src="assets/images/check.mp4" autoplay muted loop  width="600px" height="600px"></video>
  <video src="assets/images/check2.mp4" autoplay muted loop  width="600px" height="600px"></video>
</section>
<h4 style="display: flex; justify-content: center;">Ambulance Service</h4>
  <div style="display: flex; justify-content: center;">
    <video src="assets/images/ambudrive.mp4"  muted  loop  width="600px" height="600px" autoplay></video>
    <video src="assets/images/drive.mp4" muted  loop  width="600px" height="600px" autoplay></video>
  </div>

 
<hr class="top">
<h3 class="doctor">The Top Surgeons</h3>
<section id = "banner-one" class = "banner-one text-center">
  <img src="assets/images/banner-1-img.png" alt="">
</section>

<hr class="hr-pannel">
<hr class="hr-pannel2">
<div class="pannel">
  <h4>Our Doctor Pannel</h4>
</div>
<hr class="hr-pannel">
<section>
  <div class="container">
    <div class="column">
      <div class="card">
        <img src="assets/images/doc-3.png" alt="Placeholder Image" style="height:300px;width: 300px; background:grey;">
        <div class="card-content">
          <h2>Card 1</h2>
          <p>This is a sample card with a photo.</p>
          <button style="border-radius: 12px;" class="btn-primary" [routerLink]="['/book']" >Book Appointment</button>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="assets/images/doc-1.png" alt="Placeholder Image" style="height:300px;width: 300px; background:grey;">
        <div class="card-content">
          <h2>Card 2</h2>
          <p>This is another sample card with a photo.</p>
          <button style="border-radius: 12px;" class="btn-primary">Book Appointment</button>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="assets/images/doc-2.png" alt="Placeholder Image" style="height:300px;width: 300px;background:grey;">
        <div class="card-content">
          <h2>Card 3</h2>
          <p>This is yet another sample card with a photo.</p>
          <button style="border-radius: 12px;" class="btn-primary">Book appointment</button>
        </div>
      </div>
    </div>
  </div>
</section>
<p></p>
<section >
  <div class="container">
    <div class="column">
      <div class="card">
        <img src="assets/images/doc-3.png" alt="Placeholder Image" style="height:300px;width: 300px;background:grey;">
        <div class="card-content">
          <h2>Card 1</h2>
          <p>This is a sample card with a photo.</p>
          <button style="border-radius: 12px;" class="btn-primary">Book Appointment</button>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="assets/images/doc-1.png" alt="Placeholder Image" style="height:300px;width: 300px;background:grey;">
        <div class="card-content">
          <h2>Card 2</h2>
          <p>This is another sample card with a photo.</p>
          <button style="border-radius: 12px;" class="btn-primary">Book Appointment</button>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="assets/images/doc-2.png" alt="Placeholder Image" style="height:300px;width: 300px; background:grey;">
        <div class="card-content">
          <h2>Card 3</h2>
          <p>This is yet another sample card with a photo.</p>
          <button style="border-radius: 12px;" class="btn-primary">Book Appointment</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
 
</section>
<p></p>
<hr class="hr-pannel">
<div >
  <h3 class="conhead">Contact Us</h3>
</div>
<hr class="hr-pannel-2">
<section id = "contact" class = "contact py">
  <div class = "container grid" id="cont">
      <div class = "contact-left">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2384.6268289831164!2d-6.214682984112116!3d53.29621947996855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486709e0c9c80f8f%3A0x92f408d10f2277c2!2sREVO!5e0!3m2!1sen!2snp!4v1636264848776!5m2!1sen!2snp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
      <div class = "contact-right text-white text-center bg-blue" id="box">
          <div class = "contact-head">
              <h3 class = "lead">Contact Us</h3>
              <p class = "text text-md">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga.</p>
          </div>
          <form>
              <div class = "form-element">
                  <input type = "text" class = "form-control" placeholder="Your name">
              </div>
              <div class = "form-element">
                  <input type = "email" class = "form-control" placeholder="Your email">
              </div>
              <div class = "form-element">
                  <textarea rows = "5" placeholder="Your Message" class = "form-control"></textarea>
              </div>
              <button type = "submit" class = "btn btn-white btn-submit">
                  <i class = "fas fa-arrow-right"></i> Send Message
              </button>
          </form>
      </div>
  </div>
</section>