<body class="body">
    <div class="container">
      <div class="wrapper">
        <h2>Appointment </h2>
        <form action="#">
          <div class="input-box">
              <label for="name">Name</label>
            <input type="text" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
              <label for="email">Email</label>
            <input type="text" placeholder="Enter your email" required>
          </div>
          <div class="input-box">
              <label for="password">Password</label>
            <input type="password" placeholder="Create password" required>
          </div>
          <div class="input-box">
            <label for="password">Reason</label>
          <input type="password" placeholder="Type the reason  for Visit" required>
        </div>
          <div class="input-box">
              <label for="Confirm">Address</label>
            <input type="address" placeholder="Your Address" required>
          </div>

          <div class="input-box button">
            <input type="Submit" value="Book Appointment">
          </div>
          <div class="text">
              <h3>Back to Home Click Here <a [routerLink]="['/home']">Home</a></h3>
        
            </div>
            
        </form>

      </div>
      <section>
      
      </section>
    </div>
    <strong style="color: white;"><h6>"A Healthy outside</h6><br>
    <h6>starts from the </h6><br>
  <h6>inside" 🍎</h6></strong>
   
    </body>